<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../partials/nav.ejs'); %>
    </nav>

    <div class="UniPage-div">

        <h2>AKTIVITY MENU</h2>

    </div>


    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom " style="background-color: #21081a; ">
        <%- include('../partials/footer.ejs'); %>
    </footer>
    <!-- Footer -->

</body>

</html>